@page
@model BlogWebsite.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogModel[0].AuthorEmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogModel[0].AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogModel[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogModel[0].PublishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorEmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BlogModelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BlogModelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BlogModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
